/* Login- register pages */
.login-register {
    background: url(../../../assets/images/login-register.jpg) no-repeat center center / cover !important;
    height: 100%;
    position: fixed;
  }
  .login-box {
    height: 100%;
    background: #ffffff;
    position: absolute;
    right: 0px;
    width: 420px;
  }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
  }
  .login-box .social {
    display: block;
    margin-bottom: 30px;
  }
  #recoverform {
    display: none;
  }